.header{
    padding-top: 20px;
    padding-bottom: 20px;
}
.header nav a{
    text-decoration: none;
    padding: 20px;
}

.header nav a:hover{
    color: orange;
    
}

.header-user{
    color: rgb(25, 240, 255);
    padding: 10px;
    margin-left: 5px;
}

.signout-btn{
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}